@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Familjen Grotesk", sans-serif;
    background: black;
    color: #ffff;
}

a {
    text-decoration: none;
    color: #ffff;
}

/* Header or navbar */
.main-header {
    position: fixed;
    /* because we want that navbar or logo always in the top in cas of scrolling */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    margin: 0 15px;
}

/* logo */
.main-logo {
    width: 210px;
    height: auto;
}

.main-logo img {
    display: block;
    width: 100%;
    height: auto;
}


/* Desktop manu */
.desktop-main-manu {
    margin-right: 80px;
}

.desktop-main-manu span {
    position: relative;
    margin-right: 20px;
    margin-bottom: 2px;
    /*because we add the enimation line under the text so this margin need */
}



/* Manu item bottom-border */
.desktop-main-manu span a::after {
    content: "";
    position: absolute;
    /* For understanding :   https://developer.mozilla.org/en-US/play */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ffff;
    transform: scaleX(0);
    transition: transform 0.5s;
    /* transform-origin: right center; */
}

.desktop-main-manu span a:hover:after {
    transform: scaleX(1);
    /* transform-origin: left center; */
}




/* Hamburger-manu */
.Hamburger {
    position: fixed;
    margin-right: 15px;
    top: 43px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.hamburge-top,
.hamburge-middle,
.hamburge-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
}

.hamburge-middle {
    transform: translateY(5px);
}

.hamburge-bottom {
    transform: translateY(10px);
}

/* Transition hamburger to x when open */
.open {
    transform: rotate(90deg);
}

.open .hamburge-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburge-middle {
    display: none;
}

.open .hamburge-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* overLay-show */
.overLay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

/* Stop body Scroll */
.stop-scrolling {
    overflow: hidden;
}

/* Hide mobil main manu */
ul {
    list-style-type: none;
}

.mobile-only {
    display: none;
}

/* mobile manu */
.mobile-main-manu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    z-index: 4;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Bring manu from right */
.show-manu {
    transform: translateX(0);
}

.mobile-main-manu ul {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.mobile-main-manu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px #555 dotted;
    width: 100%;
    text-align: right;
    padding-bottom: 10px;
}

.mobile-main-manu ul li a {
    color: #fff;
    transition: color 0.4s;
}

.mobile-main-manu ul li a:hover {
    color: #aaa;
}

/* Home page or Sections */
section {
    position: relative;
    text-transform: uppercase;
    height: 100vh;
    background-position: center center;
    /*  X-axis Y-axis */
    background-repeat: no-repeat;
    /*  how a background image will be repeated.*/
    background-size: cover;
    /*  background-size: auto|length|cover|contain|initial|inherit; */

}

.section-inner {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    bottom: 100px;
    left: 50px;
    max-width: 560px;
    /*  because if name was big then go directly at the next line after some time*/
}

.section-inner h6 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 10;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
    /* stop from showing at the start animation. */
}

.section-inner a {
    /* for the batton fade in-out animation */
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
    /* stop from showing at the start animation. */
}

/* Background-images */
.section-a {
    background-image: url("../img/S1.jpg");
}

.section-b {
    background-image: url("../img/section-b.webp");
}

.section-c {
    background-image: url("../img/section-c1.webp");
}

.section-d {
    background-image: url("../img/section-f1.webp");
}

/* Button */

.btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
}

.btn::before {
    background-color: #000000;
    color: #ffffff;
}

.btn:hover {
    position: relative;
    background-color: white;
    color: black;
    top: 0;
    left: 0;
    transform: translateZ(100%);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}







.scroll-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 5s infinite;
}

/*  Footer*/
footer {
    position: relative;
    padding: 55px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

footer ul li {
    margin: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 2.5;
}

footer ul li a {
    color: #fff;
    transition: color 0.6s;
}

footer ul li a:hover {
    color: #aaa;
    /* transition: color 0.6s ; */
}


/* Animations */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* For the mobile view Media Query */

@media(max-width: 960px) {

    /* Hide Desktop manu*/
    .desktop-main-manu {
        display: none;
    }

    /* Show main mobile items */
    .mobile-only {
        display: block;
    }

    .stats {
        flex-direction: column;
    }

    .stats div {
        margin-bottom: 20px;
    }

} 
@media(max-width: 600px) {
    .section-inner {
        bottom: 75px;
        left: 20px;
    }

    .section-inner h2 {
        font-size: 40px;
    }

    footer ul li:first-child {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    footer ul li {
        margin-right: 15px;
    }

    .logo {
        width: 150px;
        margin: auto;
    }

    .stats {
        font-size: 30px;
    }

    /* Stats */
    .stats {
        flex-direction: column;
    }

    .stats div {
        margin-bottom: 20px;
    }

    .section-inner-center{
        width: 100vw;
    }

    .section-inner-center h3 {
        font-size: 40px !important;
        margin-bottom: 10px !important;
    }

    .section-inner-center p {
        font-size: 10px !important;
    }

    .counter{
        font-size: 40px !important;
    }
    .stats h4{
        font-size: 10px !important;
    }
    
    .section-inner-center-rideShare h3{
        font-size: 35px !important;
        margin-bottom: 20px !important;
    }
    .section-inner-center-rideShare p{
        font-size: 15px !important;
        width: 90vw;
    }
}

/* Inner page */
.bg-falcon-9 {
    background-image: url(../img/falcon-9.webp);
}

.bg-falcon-Heavy {
    background-image: url(../img/falcon-heavy.webp);
}

.bg-Dragon {
    background-image: url(../img/dragon.webp);
}

.bg-starShip {
    background-image: url(../img/starship.jpg);
}

.bg-HumanSpaceFlight {
    background-image: url(../img/humanspaceflight.jpg);
}

.bg-RideShare {
    background-image: url(../img/rideshare.jpg);
}




.section-animate {
    animation: fadeIn 2s ease-in-out;
}

.section-inner-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.section-inner-center h3 {
    font-size: 100px;
    margin: 5px;
    animation: fadeInUp 0.8s ease-in-out;
}

.section-inner-center p {
    font-size: 20px;
    margin: 5px;
    animation: fadeInUp 0.8s ease-in-out 0.2s;
    animation-fill-mode: both;
}


/* Only change the font size and other some properties for the Ride-Share file */

.section-inner-center-rideShare {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
}

.section-inner-center-rideShare h3{
    font-size: 60px;
    margin: 5px;
    animation: fadeInUp 0.8s ease-in-out;
}

.stats {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
}

.stats div span {
    font-size: 160px;
}

.stats div h4 {
    font-size: 24px;
    font-weight: 300;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ---------------------------------------------------------------------------------- */

/* Missions */

.main-first{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/rideshare.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-first img {
    display: none;
}
.first-text{
    font-size: 10px;
    font: 16px / 26px D-DIN-Regular, Arial, Verdana, sans-serif;
    padding: 90px;
    font-weight: 400;
}

.main-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/starship.jpg');
    background-size: cover;
    background-position: start center;
}
.main-second img {
    display: none;
}

.main-second h2 {
    position: relative;
    width: 60%;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    animation: fadeInUp 0.8s ease-in-out;

}

.main-second p {
    position: relative;
    width: 60%;
    animation: fadeInUp 0.8s ease-in-out;
    padding-bottom: 20px;
    font: D-DIN-Regular, Arial, Verdana, sans-serif;
}

.btn-for-second{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    margin-right: 20px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
    animation: fadeInUp 0.8s ease-in-out;
}

.btn-for-second:hover{
    background-color: white;
    color: black;
} 






.main-third{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/mission-slider-01.jpg');
    background-size: cover;
    background-position: start center;
}

.main-third img {
    display: none;
}

.Lists  {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    cursor: pointer;
}


.Description h2{
        animation: fadeInUp 0.8s ease-in-out;
        font: D-DIN-Regular, Arial, Verdana, sans-serif;
        font-size: 45px;
        font-weight: 600;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 25%;
    }
.Description p{
        font: D-DIN-Regular, Arial, Verdana, sans-serif;
        animation: fadeInUp 0.8s ease-in-out;
        line-height: 1.6;
        padding-left: 40px;
        padding-right: 40px;
}



@media (max-width:600px) {
    .text-second{
        margin: 15%;
        width: 100%;
    }

    .first-text{
        text-align: center;
    }
}




